/* #navbar1 {
    margin-top : 15%;
    width : 100%;
    height: 30%;
    background-color: blue;
    display: flex;
    align-items: center;
}

#navbar1 > a,
.button3  {
    color : red;
    margin: 0 15px;
    font-size: 2em;
}
/* MENU DEROULANT */
@media screen and (min-width:960px) {
   #navbar1 {
      display: none;
    }}

.button3  {
background-color: transparent;
}


#navbar1 .contentMenuD {
    display: none;
}
#navbar1 .dropdown-1 .contentMenuD {
    display: none;
}

#navbar1 .dropdown-1.active .contentMenuD {
    display: block;
    color: red;
    background-color: yellow;
};


/* MENU DEROULANT */

 */
