@import url("https://fonts.googleapis.com/css2?family=Carattere&family=Cinzel+Decorative:wght@400;700;900&family=Dr+Sugiyama&family=Gwendolyn:wght@400;700&family=Kaushan+Script&family=Monoton&family=Montez&family=Passions+Conflict&display=swap");

/*reset */
* {
  text-decoration: none;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
button {
  list-style-type: none;
  padding: 0;
  background: transparent;
  border: none;
}
body {
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: space-between; /*aide à pousser le pied de page vers le bas */
}

/* HEADER et  BACKGROUND IMAGE */
html {
  font-family: Cinzel Decorative;
  height: 190%;
  margin: 0;
  background-image: url(/logos_et_icones/2.webp);
  background-color: rgb(20, 21, 20);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header_container {
  position: absolute;
  margin-left: 5%;
  margin-right: 30%;
  width: 90%;
  height: 10%;
  margin-top: 0;
  font-weight: 900;
  font-size: 20px;
  z-index: 1000;
  top: 0;
}

.separation_barre {
  color: aliceblue;
  font-weight: 900;
}

.presentation {
  color: rgb(246, 247, 247);
  position: absolute;
  left: 39%;
  text-align: center;
  text-wrap: balance;
  font-size: 50px;
  line-height: 140%;
  margin-top: 25rem;
}

p {
  font-size: 35px;
  line-height: 80%;
}

.mail {
  font-size: 20px;
  text-transform: lowercase;
}

h2,
h3 {
  font-size: 37px;
  line-height: 80%;
  color: #115f55;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

 /* DEBUT MEDIA QUERIES DANS LE CADRE  */

 @media (max-width: 5393px) and (min-height: 844px) {
  .presentation {
    left: 8%;
    margin-top: 23rem;
  }
  h1{
    font-size: 30px;
  }
  h2, h3{
    font-size: 25px;
  }
  p{
    font-size: 20px;
  }
  .mail{
    font-size: 15px;
  }
}

@media (max-width: 1280px) and (height: 1024px) {
  .presentation {
    left: 27%;
    margin-top: 30rem;
    line-height: 19%;
  }
  h1{
    font-size: 60px;
  }
  h2, h3{
    font-size: 45px;
  }
  p{
    font-size: 50px;
  }
  .mail{
    font-size: 30px;
  }

}

@media (min-width: 1366px) and (max-height: 900px) {
  .presentation {
    left: 37%;
    margin-top: 24rem;
    line-height: 49%;
  }
  h1{
    font-size: 45px;
  }
  h2, h3{
    font-size: 30px;
  }
  p{
    font-size: 30px;
  }
  .mail{
    font-size: 20px;
  }
}



@media (min-width: 1600px) and (min-height: 900px) {
  .presentation {
    left: 39%;
    margin-top: 29rem;
    line-height: 49%;
  }
  h1{
    font-size: 50px;
  }
  h2, h3{
    font-size: 30px;
  }
  p{
    font-size: 30px;
  }
  .mail{
    font-size: 20px;
  }
}




@media (min-width: 1920px) and (min-height: 1080px) {
  .presentation {
    left: 37%;
    margin-top:34rem;
    line-height: 89%;
  }
  h1{
    font-size: 60px;
  }
  h2, h3{
    font-size: 45px;
  }
  p{
    font-size: 45px;
  }
  .mail{
    font-size: 25px;
  }
}

@media (min-width: 1920px) and (min-height: 1200px) {
  .presentation {
    left: 37%;
    margin-top:40rem;
    line-height: 89%;
  }
  h1{
    font-size: 60px;
  }
  h2, h3{
    font-size: 45px;
  }
  p{
    font-size: 45px;
  }
  .mail{
    font-size: 25px;
  }
}


@media (min-width: 2560px) and (min-height: 1440px) {
  .presentation {
    left: 37%;
    margin-top:50rem;
    line-height: 100%;
  }
  h1{
    font-size: 85px;
  }
  h2, h3{
    font-size: 45px;
  }
  p{
    font-size: 45px;
  }
  .mail{
    font-size: 35px;
  }
}


@media (min-width: 3440px) and (min-height: 1440px) {
  .presentation {
    left: 37%;
    margin-top:45rem;
    line-height: 120%;
  }
  h1{
    font-size: 90px;
  }
  h2, h3{
    font-size: 50px;
  }
  p{
    font-size: 60px;
  }
  .mail{
    font-size: 45px;
  }
}



@media (min-width: 3840px) and (min-height: 2160px) {
  .presentation {
    left: 35%;
    margin-top:65rem;
    line-height: 150%;
  }
  h1{
    font-size: 90px;
  }
  h2, h3{
    font-size: 70px;
  }
  p{
    font-size: 60px;
  }
  .mail{
    font-size: 61px;
  }
}














/* iphone4 */

@media (width: 320px) and (min-height: 480px) {
  .presentation {
    left: 25%;
    margin-top:14rem;
    line-height: 75%;
  }
  h1{
    font-size: 20px;
  }
  h2, h3{
    font-size: 15px;
  }
  p{
    font-size: 15px;
  }
  .mail{
    font-size: 10px;
  }
}





/* FIN MEDIA QUERIES DANS LE CADRE  */
/* FIN HEADER et BACKGROUND IMAGE */

/* FOOTER */
.footer_container {
  color: rgb(249, 251, 251);
  position: absolute;
  clear: both;
  margin-left: 1%;
  margin-right: 30%;
  margin-bottom: 20%;
  padding-bottom: 10px;
  width: 70%;
  height: 10%;
  top: 160%;
  z-index: 10;
  /* position: fixed; //////////////////////////////////////////// */
  bottom: 80%;
  width: 100%;
}

/* FIN FOOTER */
/* RESPONSIVE FOOTER */
@media screen and (max-width: 1200px) {
  .footer_container {
    flex-direction: column;
    margin-right: 0;
  }
}

/* FIN RESPONSIVE FOOTER */

/* NAVBARE */
.little_menu {
  display: none;
  width: 35px;
  position: absolute;
  top: 50px;
  left: 50px;
}
.little_menu2 {
  display: none;
  width: 35px;
  position: absolute;
  top: 90px;
  left: 50px;
}
.header_nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  border: 0.1px solid rgb(255, 255, 255);
  height: 90px;
  box-shadow: inset 0 0 1.3rem #c0a5ca;
  color: #115f55;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 100px #0fa;
}

/* enveloppe */
.dropbtn {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.clignotant {
  color: inherit;
  text-decoration: none;
}

.clikEnv {
  color: inherit;
  text-shadow: inherit;
  transition: transform 0.5s ease, color 0.5s ease, text-shadow 0.5s ease;
}

.clikEnv:hover {
  transform: rotate(360deg);
  color: #11a154;
  text-shadow: 0 0 10px #129e5a, 0 0 20px #86d970, 0 0 30px #37be8c;
}

/* FIN - survole enveloppe */

.dropbtn_projet {
  border: none;
  background: none;
  color: inherit;
  text-shadow: inherit;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.dropdown-content {
  font-size: 10px;
  text-transform: lowercase;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* menu deroulant */
.dropdown1:hover .dropdown-content {
  display: block;
}

.footer_nav {
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  border: 0.1px solid rgb(255, 255, 255);
  height: 90px;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #b4a8b9,
    0 0 0.8rem #dccde1, 0 0 2.8rem #b9ac55, inset 0 0 1.3rem #c0a5ca;
}

.menus_container {
  flex-direction: row;
  justify-self: center;
}

/* 
mailto barre nav du header */

/* Animation de clignotement */
@keyframes clignotant {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Appliquez la classe au lien */
.clikEnv {
  animation: clignotant 1s infinite; /* Répétez l'animation indéfiniment */
}
