   /* Reset CSS */
   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed, 
   figure, figcaption, footer, header, hgroup, 
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
       margin: 0;
       padding: 0;
       border: 0;
       font-size: 100%;
       font: inherit;
       vertical-align: baseline;
   }
   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure, 
   footer, header, hgroup, menu, nav, section {
       display: block;
   }
   body {
       line-height: 1;
   }
   ol, ul {
       list-style: none;
   }
   blockquote, q {
       quotes: none;
   }
   blockquote:before, blockquote:after,
   q:before, q:after {
       content: '';
       content: none;
   }
   table {
       border-collapse: collapse;
       border-spacing: 0;
   }
      
   /* fin du reset  */
   
    
    

    html {
        
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 100vh;
        width: 100vw;
        background-color: rgb(204, 211, 200);
    }; 


.container {
    display: flex;
    justify-content: center; /* ou flex-start, flex-end, space-between, etc. */
    align-items: center; /* pour centrer verticalement */
    
}
.buttonPosition{
   
    border: solid rgb(254, 255, 255);
    border-radius: 15%;
    width: 150px; /* Ajuste la largeur selon tes besoins */
    margin-left: 40%;
    margin-top: 2%;

    
        display: flex;
        list-style-type: none;
        justify-content: space-evenly;
        align-items: center;
        text-transform:uppercase;
        border: 0.10px solid rgb(245, 245, 245);
        height: 30px;
        box-shadow: 
      0 0 .2rem #fff,
      0 0 2rem #b4a8b9,
      0 0 0.8rem #dccde1,
      inset 0 0 1.3rem #c0a5ca;
      /*  */
      color: #115f55;
      text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
      }




.presentation_container {
    display: block; /* Utilise Flexbox */
   margin-left: 4%;
   margin-top: -20%;
 
  }
   h1 {
    font-size: 2vw;
/* positionnement du texte */
    position: absolute;
    float: left;
    left: 11%;
    top: 12%;  /* Ajuste la valeur pour descendre l'élément */

/* style du texte */
    color:#115f55;

    /* effet machine à écrire */
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .09em;
    animation: typing 3.5s steps(40, end) infinite, blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 31% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    5% { border-color: rgb(234, 221, 78); }
  }

  
/* Ajustements pour les écrans plus petits */
@media screen and (max-width: 768px) {
    h1 {
      font-size: 30px; /* Taille de police plus petite */
      top: 150px; /* Ajuste la position pour rester proche de .strong */
    }
  }
  
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 20px; /* Taille de police encore plus petite */
      top: 100px; /* Ajuste la position pour rester proche de .strong */
    }}


.course_container {
    width: 80%;
    margin-left: 10%;
    margin-top: 15%;
    line-height: 150%;
  
}

/* Pour les écrans plus petits */
@media (max-width: 768px) {
    .course_container {
        width: 90%;
        margin-left: 5%;
    }
}

/* Pour les très petits écrans */
@media (max-width: 480px) {
    .course_container {
        width: 100%;
        margin-left: 0;
    }
}

.footer_container {
    top: 80%;
    padding-bottom: 10%;
  
  }
 
  /* IA */
  a.external-link {
    color: #0056b3;
    text-decoration: none;
    position: relative;
    font-weight: bold;
}
a.external-link::after {
    content: '\f35d';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 0.8em;
    margin-left: 5px;
    color: #6c757d;
}
a.external-link:hover {
     color: #0056b3;
}
a.external-link:hover::after {
   color: #82b2e4;
}