<footer>
    <div class="footer_container">   
        <div class="footer_nav">
            
            <img class="docker" src="./logos_et_icones/logosConvertis/logo.docker.webp">
            <img class="express" src="./logos_et_icones/logosConvertis/logo.express.webp">
            <img class="js" src="./logos_et_icones/logosConvertis/logoJS.webp">
            <img class="figma" src="./logos_et_icones/logosConvertis/logo.figma.webp">
            <img class="nodejs" src="./logos_et_icones/logosConvertis/logo.nodejs.webp">
            <img class="react" src="./logos_et_icones/logosConvertis/logo.react.webp">
            <img class="html" src="./logos_et_icones/logosConvertis/logohtml.webp">
            <img class="css" src="./logos_et_icones/logosConvertis/logocss.webp">
            <img class="postgres" src="./logos_et_icones/logosConvertis/logo.postgresql.webp">
        </div>
        
    </div>
    


</footer>
</body>
</html>