<footer>
    <div class="footer_container">   
        <div class="footer_nav">
            
            <img class="docker" src="./logos_et_icones/logo.docker.png">
            <img class="express" src="./logos_et_icones/logo.express.png">
            <img class="js" src="./logos_et_icones/logoJS.png">
            <img class="figma" src="./logos_et_icones/logo.figma.png">
            <img class="nodejs" src="./logos_et_icones/logo.nodejs.png">
            <img class="react" src="./logos_et_icones/logo.react.png">
            <img class="html" src="./logos_et_icones/logohtml.png">
            <img class="css" src="./logos_et_icones/logocss.png">
            <img class="postgres" src="./logos_et_icones/logo.postgresql.png">
        </div>
        
    </div>
    


</footer>
</body>
</html>