<header>
     <div class="header_container">   
        <nav class="header_nav">
            <ul>
                 
                <li><a href="/"> Accueil</a></li>
                
                <li class="separation_barre">|</li>
                <li><a href="https://www.linkedin.com/in/wendy-wilson/"> Linkedin </a></li>
                <li class="separation_barre">|</li>
                <li><a href="/waitingRecipes"> Projet Crazy Recipes</a></li>
                <li class="separation_barre">|</li>
                <li><a href="/waitingOcoffee"> Projet Ocoffee</a></li>
                <li class="separation_barre">|</li>
                <li><a href="/presentation"> A propos de moi </a></li>
              
            </ul>
        </nav> 
    </div> 
   <!-- menu deroulant  -->

<div class="containerDroulant">
  <div class="navbar">
    <div class="dropdown">
      <button class="dropbtn">
        <a href="/">Accueil</a>
      </button>
    </div> 
    <div class="dropdown">
      <button class="dropbtn">Projets 
        <i class="fa fa-caret-down"></i>
      </button>
      
     <div class="dropdown-content">
       <a href="/waitingRecipes">Projet Crazy Recipe</a>
       <a href="/waitingOcoffee">Projet Ocoffee</a>
       <a href="XX">My Notepad</a>
     </div>
    </div>
    
    <div class="dropdown">
        <button class="dropbtn">
          <a href="/techno">Technologies</a>
        </button>
      </div> 
  </div>
</div>

        
           