<header>
  <head>
  <div class="header_container">
    <nav class="header_nav">
      <ul>
        <li><a href="/">Accueil</a></li>
        <li class="separation_barre">|</li>
        <li><a href="/presentation">A propos de moi</a></li>
        <li class="separation_barre">|</li>
        <li><a href="https://www.linkedin.com/in/wendy-wilson/">LinkedIn</a></li>
        <li class="separation_barre">|</li>
        <li>
          <div class="dropdown1">
            <a href="javascript:void(0)" class="dropbtn_projet">PROJETS
              <i class="fa fa-caret-down"></i>
            </a>
            <div class="dropdown-content">
              <a href="/waitingRecipes">Crazy Recipe - nodeJS</a>
              <a href="/waitingOcoffee">Ocoffee - nodeJS</a>
              <a href="/mybookKidsVersion">My Book -Kids version-</a>
              <a href="XX">My Notepad - React</a>
              <a href="/design">Maquettes / Logos design - Figma</a>
            </div>
          </div>
        </li>
        <li class="separation_barre">|</li>
        <li>
          <div class="dropdown">
            <a>
              <button onclick="ouvrirApplicationMail()" class="dropbtn">
                <a class="clignotant"><i class="material-icons clikEnv">✉</i></a>
              </button>
            </a>
            <script>
              function ouvrirApplicationMail() {
                window.location.href = 'mailto:wendywilson.pro.dev@gmail.com';
              }
            </script>
          </div>
        </li>
      </ul>
    </nav>
  </div>
  <!-- menu deroulant -->
  <div class="containerDroulant">
    <div class="navbar">
      <div class="dropdown">
        <button class="dropbtn">
          <a href="/">Accueil</a>
        </button>
      </div>
      <div class="dropdown">
        <button class="dropbtn">
          <a href="https://www.linkedin.com/in/wendy-wilson/">Linkedin</a>
        </button>
      </div>
      <div class="dropdown">
        <button class="dropbtn">A propos de moi
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/presentation">Qui suis-je ?</a>
          <a href="/techno">Technologies</a>
          <a href="/waitingRecipes">My Crazy Recipe</a>
          <a href="/waitingOcoffee">Ocoffee</a>
          <a href="XX">My Notepad</a>
          <a href="/design">Maquette / Logos design - Figma</a>
        </div>
      </div>
      <div class="dropdown">
        <button onclick="ouvrirApplicationMail()" class="dropbtn">
          <a><i class="material-icons clikEnv">✉</i></a>
        </button>
        <script>
          function ouvrirApplicationMail() {
            window.location.href = 'mailto:wendywilson.pro.dev@gmail.com';
          }
        </script>
      </div>
    </div>
  </div>
</head>
</header>