







<header>
     <div class="header_container">   
        <nav class="header_nav">
            <ul>
                 
                <li><a href="/"> Accueil</a></li>
                
                <li class="separation_barre">|</li>
                <li><a href="https://www.linkedin.com/in/wendy-wilson/"> Linkedin </a></li>
                <li class="separation_barre">|</li>
                




                <li><a href="/waitingRecipes"> Projet Crazy Recipes</a></li>
                <li class="separation_barre">|</li>
                <li><a href="/waitingOcoffee"> Projet Ocoffee</a></li>
                <li class="separation_barre">|</li>
                <li><a href="/presentation"> A propos de moi </a></li>
                <li> <div class="dropdown">
                  <a><button onclick="ouvrirApplicationMail()" class="dropbtn">
                  <a class ="clignotant"><i class="material-icons clikEnv">email</i></a></button>
                  <script>
                      function ouvrirApplicationMail() {
                          window.location.href = 'mailto:wendywilson.pro.dev@gmail.com';
                      }
                  </script>
        
                </button></div></a>
              </li>
              </div>
            </ul>
        </nav> 
    </div>  
   <!-- menu deroulant  -->

<div class="containerDroulant">
  <div class="navbar">
    <div class="dropdown">
      <button class="dropbtn">
        <a href="/">Accueil</a>
      </button>
    </div> 
    <div class="dropdown">
      <button class="dropbtn">
        <a href="https://www.linkedin.com/in/wendy-wilson/">Linkedin</a>
      </button>
    </div> 
    <div class="dropdown">
      <button class="dropbtn">A propos de moi
        <i class="fa fa-caret-down"></i>
      </button>
      
     <div class="dropdown-content">
       <a href="/techno">Technologies</a>
       <a href="/waitingRecipes">Projet Crazy Recipe</a>
       <a href="/waitingOcoffee">Projet Ocoffee</a>
       <a href="XX">Projet My Notepad</a>

     </div>
    </div>
    
    <div class="dropdown">
          <button onclick="ouvrirApplicationMail()" class="dropbtn">
          <a><i class="material-icons clikEnv">email</i></a></button>
          <script>
              function ouvrirApplicationMail() {
                  window.location.href = 'mailto:wendywilson.pro.dev@gmail.com';
              }
          </script>

        </button>
      </div> 
  </div>
</div>

        
           