<header>
     <div class="header_container">   
        <nav class="header_nav">
            <ul>
                 
                <li><a href="/"> Accueil</a></li>
                
                <li class="separation_barre">|</li>
                <li><a href="https://www.linkedin.com/in/wendy-wilson/"> Linkedin </a></li>
                <li class="separation_barre">|</li>
                <li><a href="/waitingRecipes"> Projet Crazy Recipes</a></li>
                <li class="separation_barre">|</li>
                <li><a href="/waitingOcoffee"> Projet Ocoffee</a></li>
                <li class="separation_barre">|</li>
                <li><a href="/presentation"> A propos de moi </a></li>
                <!-- <li class="separation_barre">|</li>
                <li><a href="#"> Contact</a></li> -->
            </ul>
        </nav> 
    </div> 
   <!-- menu deroulant  -->

<div class="containerDroulant"> 
  <div class="navbar">
    <div class="dropdown">
      <button class="dropbtn">
        <a href="/">Accueil</a>
      </button>
    </div> 
    <div class="dropdown">
      <button class="dropbtn">Projets 
        <i class="fa fa-caret-down"></i>
      </button>
      
     <div class="dropdown-content">
       <a href="/waitingRecipes">Projet Crazy Recipe</a>
       <a href="/waitingOcoffee">Projet Ocoffee</a>
       <a href="XX">My Notepad</a>
     </div>
    </div>
    
    <div class="dropdown">
        <button class="dropbtn">
          <a href="/techno">Technologies</a>
        </button>
      </div> 
  </div>
</div>

        
            <!-- <div  id="navbar" class="menus_container">
                <a href="https://www.linkedin.com/in/wendy-wilson/"> -->
                    <!-- <img src="./logos_et_icones/ham_menu.png" alt="menu hamburger" class="little_menu"> -->
                <!-- </a>
                <div id="menu-cb" type="checkbox" class="dopdown-1">
                <nav class="menu-nav">
                    <udiv>
                        <a href="#page1">Page 1</a>
                        <a href="#page2">Page 2</a>
                        <a href="#page3">Page 3</a>
                        <a href="#page4">Page 4</a>
                    </udiv>
                </nav> -->


                <!-- <div id="navbar1" class="nav navbar1"> -->
                    <!-- A REVOIR je veux mettre un logo clickable" -->
                    <!-- <a href="#">
                        <img src="/public/logos_et_icones/logosConvertis/ham_menu2.webp" alt="" class="little_menu">
                    </a>
                       
                    <a href="#"> X2</a>
                    <div class="dropdown-1">
                        <button class="button3"> X3</button>
                        <div class="contentMenuD">
                            <a href="#"> Sous OngletA </a>
                            <a href="#"> Sous OngletB </a>
                            <a href="#"> Sous OngletC </a>
                        </div>
                    </div>
                    <a href="#"> X4 </a>
                </div> -->

               










          
                    
        
        
        
        
        <!-- </a>
        <a href="https://www.linkedin.com/in/wendy-wilson/">
            <img src="./logos_et_icones/logosConvertis/logo.linkedin.webp" alt="menu hamburger" class="little_menu">
        </a> -->
        <!-- <a href="">
            <img src="./logos_et_icones/logo_projet.png" alt="menu hamburger" class="little_menu">
        </a> -->
        <!-- <a href="">
            <img src="./logos_et_icones/logo_projet.png" alt="menu hamburger" class="little_menu">
        </a> -->

        <!-- <img src="./logos_et_icones/ham_menu.png" alt="menu hamburger" class="little_menu">  -->
        <!-- <p> liens utiles </p> -->
        <!-- <img src="./logos_et_icones/ham_menu2.png" alt="menu hamburger" class="little_menu2">  -->
        <!-- <p> Technologies  </p> -->
    <!-- </div> -->


     
 

    <!-- <nav>
        <ul>
            <li class="deroulant" href="#"><img src="./logos_et_icones/ham_menu.png" alt="menu hamburger" class="little_menu"> PROJET </a>
                <ul class="sous">
                <li><a href="#">Projet Ocoffe</a></li>
                <li><a href="#">Projet recipes</a></li>
            </li>
        </ul>
    </nav> -->

</header>