<header>
    <div class="header_container">   
        <nav class="header_nav">
            <ul>
                <li><a href="/presentation"> A propos de moi </a></li>
                <li class="separation_barre">|</li>
                <li><a href="https://www.linkedin.com/in/wendy-wilson/"> Linkedin </a></li>
                <li class="separation_barre">|</li>
                <li><a href="#"> Projet Crazy Recipes</a></li>
                <li class="separation_barre">|</li>
                <li><a href="#"> Projet Ocoffee</a></li>
                <!-- <li class="separation_barre">|</li>
                <li><a href="#"> Contact</a></li> -->
            </ul>
        </nav> 
    </div>
    <div class="menus_container">
        <img src="./logos_et_icones/ham_menu.png" alt="menu hamburger" class="little_menu"> 
        <!-- <p> liens utiles </p> -->
        <img src="./logos_et_icones/ham_menu2.png" alt="menu hamburger" class="little_menu2"> 
        <!-- <p> Technologies  </p> -->
    </div>
</header>