<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design</title>
    <link href="/public/style.css" rel="stylesheet">
</head>
<body>
  <h1 class="text-3xl font-bold underline">
    Hello world!
  </h1>
<div class="grid grid-flow-col grid-rows-2 grid-cols-3 gap-8">
    <div class="transform scale-110 -rotate-6">
      <img src="/maquettesEtLogosDesign/kangalMaquette.png" alt="" loading="lazy">
    </div>
    <div class="col-start-3 transform scale-75 rotate-6 translate-x-2 translate-y-15">
      <img src="/maquettesEtLogosDesign/mbiMaquette.png" alt="" loading="lazy">
    </div>
    <div class="transform scale-150 translate-y-11">
      <img src="/maquettesEtLogosDesign/myBookIsLogo.png" alt="" loading="lazy">
    </div>
    <div class="transform translate-y-24">
      <img src="/maquettesEtLogosDesign/sanLogo.png" alt="" loading="lazy">
    </div>
    <div class="row-start-1 col-start-2 col-span-2 transform translate-x-20 translate-y-4">
      <img src="/maquettesEtLogosDesign/sanMaquette.png" alt="" loading="lazy">
    </div>
    <div class="transform scale-110 -rotate-6"></div>
      <img src="/maquettesEtLogosDesign/wwLogo.webp" alt="" loading="lazy">
    </div>
  </div>
   
</body>
<include src="./partials/footer.ejs"></include>
</html>