<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio W.WILSON</title>
    <link rel="icon" type="image" href="/logos_et_icones/favicon1.png" />

    <link rel="stylesheet" href="/css/mise_en_page_portfolio.css" />
    <!-- <link rel="stylesheet"  href="http://localhost:3000/portfolio.css"> -->
    <link rel="stylesheet" href="/css/logo_icone.css" />
    <link rel="stylesheet" href="/css/menuDeroulant.css" />
    <!-- <link href="/public/style.css" rel="stylesheet"> -->

    

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <!-- <link rel="stylesheet" href="/portfolio.css" /> -->
  </head>
  <body>
 

   
  

    <main>
      <article class="presentation_container">
        <div class="presentation">
          <h1>Wendy Wilson</h1>
          <h2>Developpeuse web</h2>
          <h3>Full Stack</h3>
          <span class="mail"> wendywilson.pro.dev@gmail.com</span>
          <br />

          <p>34 ans</p>
          <p>Seine et Marne (77)</p>
        </div>
      </article>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
