<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Technologies Wendy WILSON</title>
        <link rel="stylesheet" href="/css/mise_en_page_portfolio.css"> 
        <link rel="stylesheet" href="/css/techno.css">
        <link rel="stylesheet" href="/css/logo_icone.css">
        <link rel="stylesheet" href="/css/retour2.css">
        <link rel="shortcut icon" type="image/png" href="/logos_et_icones/favicon1.png"/>
    
    </head>
<body>
    <div class="container">
        <button class="buttonPosition"><a href="javascript:history.go(-1)">retour</a></button>
      </div>


      <div class="footer_container">   
        <div class="footer_nav">
            
            <img class="docker" src="./logos_et_icones/logosConvertis/logo.docker.webp">
            <img class="express" src="./logos_et_icones/logosConvertis/logo.express.webp">
            <img class="js" src="./logos_et_icones/logosConvertis/logoJS.webp">
            <img class="figma" src="./logos_et_icones/logosConvertis/logo.figma.webp">
            <img class="nodejs" src="./logos_et_icones/logosConvertis/logo.nodejs.webp">
            <img class="react" src="./logos_et_icones/logosConvertis/logo.react.webp">
            <img class="html" src="./logos_et_icones/logosConvertis/logohtml.webp">
            <img class="css" src="./logos_et_icones/logosConvertis/logocss.webp">
            <img class="postgres" src="./logos_et_icones/logosConvertis/logo.postgresql.webp">
        </div>
        
    </div>
   









   
</body>
</html>