<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet Wendy WILSON</title>
    <link rel="stylesheet" href="/css/mise_en_page_portfolio.css"> 
    <link rel="stylesheet" href="/css/waitingRecipes.css">
    <link rel="stylesheet" href="/css/logo_icone.css">
    <link rel="stylesheet" href="/css/retour.css">
    <link rel="shortcut icon" type="image/png" href="/logos_et_icones/favicon1.png"/>


</head>
<body>
    <%- include('./partials/header.ejs') %>
    <div class="container">
      <button class="buttonPosition"><a href="javascript:history.go(-1)">retour</a></button>
    </div>
    

    <div class="infoContainer">
        <h1> Ça arrive ...</h1> 
      </div>
        <img class="strong" src="/logos_et_icones/logosConvertis/waitingProject.webp" alt="waiting for the final project">
      <div class="footer_container">
          <%- include('./partials/footer.ejs') %>  
      </div>
</body>
</html>