<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet Wendy WILSON</title>
    <link rel="stylesheet" href="/css/mise_en_page_portfolio.css"> 
    <link rel="stylesheet" href="/css/waitingRecipes.css">
    <link rel="stylesheet" href="/css/logo_icone.css">
    <link rel="shortcut icon" type="image/png" href="/logos_et_icones/favicon1.png"/>


</head>
<body>
    <%- include('./partials/header.ejs') %>
    

<img src="/public/logos_et_icones/waitingProject.jpeg" alt="waiting for the final project">

Ca arrive ...

    <%- include('./partials/footer.ejs') %>
</body>
</html>